*.*
!*.scss
!*.js
!*.json
!*.jsx
!*.less
!*.md
!*.mdx
!*.ts
!*.tsx
!*.yml
!*.mjs
!.babelrc

**/node_modules/*
**/dist/*
LICENSE

## copied from .gitignore
npm-debug.log
.npmrc
.DS_Store
*.swp
/.nyc_output/
/coverage/
/.idea/*
!/.idea/runConfigurations
nbproject
.vscode
.history
*.iml
*.tar.bz2
.vs
